<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="https://www.aem-co.co.za" class="nav-link px-2 text-body-secondary" target="_blank">Website</a></li>
      <li class="nav-item"><a href="https://www.aem-co.co.za/my-co-op" class="nav-link px-2 text-body-secondary" target="_blank">New Membership Application</a></li>
      <li class="nav-item"><a href="mailto:admin&#64;aem-co.co.za" class="nav-link px-2 text-body-secondary">Email: admin&#64;aem-co.co.za</a></li>
      <li class="nav-item"><a href="tel:+27833759003" class="nav-link px-2 text-body-secondary">Cell: 083 375 9003</a></li>
    </ul>
    <p class="text-center text-body-secondary">&copy; 2024 AEM Co-Op, Inc</p>
  </footer>
</div>
