<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item">
        <a href="https://www.aem-co.co.za" class="nav-link px-2 text-body-secondary" target="_blank">
          <mat-icon>language</mat-icon> Website
        </a>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0);" (click)="openDialog()" class="nav-link px-2 text-body-secondary">
          <mat-icon>person_add</mat-icon> New Membership Application: MY Co-Op
        </a>
      </li>
      <li class="nav-item">
        <a href="mailto:admin&#64;aem-co.co.za" class="nav-link px-2 text-body-secondary">
          <mat-icon>email</mat-icon> Email: admin&#64;aem-co.co.za
        </a>
      </li>
      <li class="nav-item">
        <a href="tel:+27833759003" class="nav-link px-2 text-body-secondary">
          <mat-icon>call</mat-icon> Cell: 083 375 9003
        </a>
      </li>
    </ul>
    <p class="text-center text-body-secondary">
      &copy; 2024 AEM Co-Op
      <img src="/favicon-32x32.png" alt="AEM Logo">
    </p>
  </footer>
</div>
